{% if site.data.patents %}
<div class="patent-list">
{% for patent in site.data.patents %}
<article class="patent-entry">
<h4 class="patent-entry__title">{{ patent.title }}</h4>
{% if patent.title_ko %}
<p class="patent-entry__subtitle">{{ patent.title_ko }}</p>
{% endif %}
<p class="patent-entry__meta">{{ patent.applicant }}, Korean Patent Application No. {{ patent.application_number }} (filed {{ patent.application_date }}), Publication No. {{ patent.publication_number }} (published {{ patent.publication_date }}). Status: {{ patent.status }}.</p>
{% if patent.url %}
<p class="patent-entry__links"><a href="{{ patent.url }}" class="btn btn--small">Patent</a></p>
{% endif %}
</article>
{% endfor %}
</div>
{% endif %}
